/* DESKTOP LAYOUT */

/*** Apply to All ***/
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    list-style: none;
}

/*** Anchor Tag ***/
a {
    text-decoration: none;
    transition-duration: 2s;
}
a:hover {
    color: #52BAB4;
    transition: 0.15s;
}

/*** Body ***/
body {
    background-color: #262626;
    font-family: 'Work Sans', sans-serif;
}

/*** Clearfix ***/
.clearfix::after {
    content: ""; 
    clear: both; 
    display: table; 
}

header, footer {
    background-color: #262626;
    padding: 10px;
    text-align: center;
    color: #FFF;
}

/*** Header ***/
header, footer {
    background-color: #262626; 
    padding: 10px; 
}
header h1 {
    padding: 15px 0; 
    font-family: 'Work Sans', sans-serif;
}
header ul {
    list-style: none;
}
header ul li {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #262626; 
    padding: 10px; 
    margin: 7px 0; 
}
header ul li a {
    color: #FFF;
}
header .introduction img {
    width: 75%; 
    margin: 30px 0; 
}
header .introduction p {
    color: #FFF; 
    padding: 0 10px; 
    margin-bottom: 40px;
}

/*** Fonts ***/
h2 {
    text-transform: uppercase;
    margin: 50px auto;
    font-size: 0.9em;
}
h3 {
    font-weight: 600;
}
p {
    font-size: 15px;
    line-height: 1.7; 
}

/*** Footer ***/

.footer-nav {
    border-top: 1px solid lightgrey;
    padding: 1.5625em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff; 
}

.footer-nav h3 {
    display: inline;
    font-size: 1em;
    /*padding-right: 6.7em;*/
}

.footer-ul {
    display: none;
}
.top {
    list-style-type: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    color: #FFF;
}

/*** Images ***/
img {
    border-radius: 1em;
    max-width: 100%;
    transition: 0.15s; 
}

img:hover {
    border: 2px solid #262626;
    transform: scale(1.025);
    transition: 0.15s;
}

/*** Main Article ***/
main {
    padding: 1px 15px; 
    background-color: #eee;
}
main article {
    margin: 50px 0; 
}
main hr {
    border: 2px #aaa solid; 
    width: 100%; 
    margin: 30px auto; 
    margin-bottom: 15px;
}

/*** PORTFOLIO ***/
.portfolio-items p {
    color: #000;
}

/*** Skills ***/
.skills {
    margin-bottom: 50px;
}
  
ul.skills {
    padding: 0;
    text-align: center;
}
  
.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #36ACD0;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    font-weight: bold;
    transition: 0.15s;
}
  
.skills li:hover {
    transform: scale(1.05);
    transition: 0.15s;
}
  
.skills li:nth-child(odd) {
    background: #52BAB4;
}

/* 
MOBILE PHONE LAYOUT 
Breakpoint of 768px
*/

@media (min-width: 768px) {
    article:nth-child(odd) {
        float: right; 
        width: 50%; 
        margin-left: -1px; 
        padding-left: 5px; 
    }
    article:nth-child(even) {
        float: left; 
        width: 50%;
        margin-right: -1px; 
        padding-right: 5px;
    }
    article:nth-child(2n) {
        clear: both; 
    }
    .footer-nav {
        padding: 1em 0 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .footer-ul {
        display: block;
        list-style-type: none;
    }

    .footer-ul li {
        display: inline;
        padding-left: 1.25em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }

    .footer-ul li a {
        color: #FFF;
    }
    .top {
        display: none;
    }
    /*
    footer {
        padding: 1px 25px 40px; 
    }
    footer .footer-name {
        float: left;  
    }
    footer .footer-nav {
        display: block;
    }*/
    footer .footer-content {
        color: #FFF;
        width: 70%;
        margin: 0 auto; 
        margin-bottom: 40px;
        font-size: 1.1em;
    }
    footer h2 {
        text-transform: uppercase;
        margin: 50px auto;
        font-size: 0.9em;
        text-align: center;
        color: #fff;
    }
    footer p {
        color: #FFF; 
        text-align: center; 
    }
    footer strong {
        color: #FFF; 
    }

    .footer-nav h3 {
        display: inline;
        font-size: 1em;
        padding-right: 6.7em;
    }

    header {
        padding: 10px 25px 50px; 
    }
    header h1 {
        margin-top: 25px;
    }
    header .introduction {
        margin-top: 60px;
    }
    header .introduction p {
        text-align: left; 
        font-size: 1.3em; 
        line-height: 1.5; 
        font-weight: lighter; 
    }
    header .introduction img {
        float: right; 
        width: 40%; 
        margin: 0; 
        margin-left: 20px;
    }
    header nav ul {
        margin: 15px auto; 
    }
    header nav ul li {
        display: inline; 
        background: none; 
        padding: 0; 
        margin: 30px
    }
    main {
        padding-left: 25px; 
        padding-right: 25px;
    }
    main article {
        margin-top: 0; 
        padding-top: 0; 
        margin-bottom: 60px; 
    }
    main article p {
        padding: 0;
    }
}

/* 
MOBILE TABLET LAYOUT 
Breakpoint 1024px; 
*/

@media (min-width: 1024px) {
    footer {
        padding: 10px 50px 15px; 
    }
    /*
    footer h2 {
        margin-top: 50px;
    }
    footer .footer-content {
        color: #FFF;
        max-width: 500px;
        width: 100%; 
    }
    footer .footer-name {
        text-align: center; 
    }
    */
    

    header {
        padding: 50px;
    }
    header h1 {
        float: left; 
        margin: 0; 
        padding: 0; 
    }
    header nav {
        float: right; 
    }
    header .introduction {
        margin: 50px 0 0;
        padding: 0; 
        font-size: 1.2em; 
    }
    header .introduction p {
        padding: 0; 
        font-size: 20px;
    }
    header .introduction img {
        margin-left: 30px; 
    }
    main {
        margin: 0 20px; 
        padding-left: 20px; 
        padding-right: 20px;
    }
    .portfolio-items article {
        width: 33.33%; 
        float: left; 
        margin: 0; 
        margin-bottom: 60px; 
        padding: 0 10px; 
        margin-left: -1px;
    }
    .portfolio-items article:nth-child(2n) {
        clear: none; 
    }
    .portfolio-items article:nth-child(3n-1) {
        clear: both; 
    }
}