* {
	box-sizing: border-box;
	list-style-type: none;
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
}

body {
	text-decoration: none;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

ul, li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

img {
	height: 20px;
}

.user-pics {
	height: 30px;
	border-radius: 30px;
	padding: 2px;
}

h1 {
	font-size: 1.2em;
	color: grey;
}

h2 {
	text-transform: uppercase;
	font-size: 1.125em;
	color: grey;
}

/* Header */

#menus {
	display: grid;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}

header {
	background: #7477bf;
	color: white;
	display: grid;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
	padding: 10px;
}

header ul {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0;
}

header li {
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;
}

#profile-name {
	display: none;
}

#divider {
	display: none;
}

#app-name {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	padding: 2px;
	flex: 2 100%;
}

#bold-app-name {
	font-weight: 900;
}

#trademark {
	vertical-align: super;
	font-size: .35em;
	font-weight: 100;
}

#notification-bell {
	position: relative;
}

#alert-dot {
	background-color: #81c98f;
	height: 7px;
	width: 7px;
	border-radius: 7px;
	position: absolute;
	top: 0;
	right: 0;
}

nav {
	background: #4d4c72;
	color: grey;
	width: 100%;
	padding: 5px;
	top: 10%;
}

nav ul {
	display: grid;
	width: 100%;
	padding: 0;
	justify-content: space-around;
}

nav a {
	opacity: .5;
}

nav a:hover {
	opacity: 1;
}

nav a:active {
	opacity: 1;
}

#notifications {
	position: fixed;
	right: 0;
	top: 53px;
	width: 250px;
	height: auto;
	background: white;
	border: 1px solid grey;
	z-index: 1;
	color: grey;
	font-size: .8em;
	visibility: hidden;
}

#notifications:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid #CCC;
	border-color: transparent transparent #FFF;
	margin-top: -20px;
	margin-left: 170px;
}

#notifications:last-child {
	border-bottom: none;
}

h3 {
	padding: 10px;
	border-bottom: 1px solid grey;
	margin: 0;
}

.notification-message {
	border-bottom: 1px solid grey;
	padding: 5px 5px 5px 10px;
}

.notification-message:hover {
	background-color: #e2e3f6;
}

.notification-icon {
	height: 20px;
}

.notification-text {
	margin: 0;
}

.highlight-name {
	font-weight: 600;
	color: #4d4c72;
}

.notification-date {
	font-size: .75em;
	color: lightgray;
	padding: 2px;
	margin: 0;
}

main {
	padding: 100px 20px 20px 20px;
	width: 100%;
	background: white;
}

#dash-title {
	display: none;
}

#search-banner {
	padding: 10px;
	height: 60px;
	margin: auto;
}

#search-bar {
	height: 30px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background: white;
	border-radius: 4px;
	border: 1px solid lightgrey;
}

input#search-bar {
	background-image: url(../images/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	text-indent: 10px;
}

#alert {
	color: white;
	background-color: #7377bf;
	min-height: 2.5em;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	border-radius: 3px;
}

#alert-heading {
	line-height: 2.5em;
	font-weight: 800;
	padding: 10px;
}

#alert-message {
	line-height: 2.5em;
	position: relative;
}

#close-button {
	line-height: 2.5em;
	position: absolute;
	right: 0;
	margin-right: 10px;
}

#traffic, #daily-traffic, #mobile-users {
	padding: 10px;
}

#traffic-chart-buttons {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: grey;
	padding: 10px;
}

#hourly-traffic, #daily-traffic-button, #weekly-traffic, #monthly-traffic {
	width: 80px;
	height: 1em;
	line-height: 1em;
	text-align: center;
	border-radius: 20px;
	font-weight: 400;
}

.active {
	background: #81c98f;
	color: white;
}

#close-button {
	font-weight: 800;
}

#daily-traffic, #mobile-users, #social-stats {
	border-top: 1px solid lightgrey;
}

#trafficChart {
	padding: 10px;
}

#hourly-trafficChart {
	display: none;
}

#daily-trafficChart {
	display: none;
}

#monthly-trafficChart {
	display: none;
}

#new-members, #recent-activity, #message-user, #settings {
	height: auto;
	position: relative;
	top: 0;
	bottom: 0;
	border-top: 1px solid lightgrey;
	margin-bottom: 30px;
}

#social-stats {
	width: 100%;
	padding: 10px;
}

#social-stats ul {
	display: grid;
	margin: auto;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

#social-stats li {
	font-size: 1.125em;
	color: #7377bf;
	padding: 10px;
	background: #fbfbfb;
	border: 1px solid gray;
	border-radius: 4px;
	width: 180px;
	margin: 5px auto;
}

.social-svgs {
	height: 50px;
	width: auto;
	border-radius: 50px;
	background-color: #7477bf;
	float: left;
}

path {
	fill: white;
}

#instagram-svg {
	fill: #7477bf;
}

#pinterest-svg {
	fill: #7477bf;
}

#pinterest-background {
	background: white;
}

.social-container {
	margin-left: 60px;
}

.social-number {
	color: grey;
	font-size: 1.1em;
}

.member-names {
	color: gray;
}

.join-dates {
	color: gray;
}

.member-emails {
	color: #7477bf;
}

.divider {
	border-bottom: 1px solid black;
	margin: 10px auto;
}

.activity-info {
	position: relative;
}

.activity-info, .new-member-info {
	font-size: .8em;
}

.activity-icon {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 40px;
	width: auto;
}

#message-form {
	width: 100%;
}

input#search, #textarea {
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 6px;
	margin-bottom: 10px;
	box-shadow: none;
	text-indent: 10px;
}

input#search:focus {
	border: 2px solid #4d4c72;
	color: #4d4c72;
}

#textarea:focus {
	border: 2px solid #4d4c72;
	color: #4d4c72;
}

#textarea {
	height: 130px;
}

/* Chrome/Opera/Safari */

::-webkit-input-placeholder {
	color: darkgrey;
}

/* Firefox 19+ */

::-moz-placeholder {
	color: darkgrey;
}

/* IE 10+ */

:-ms-input-placeholder {
	color: darkgrey;
}

/* Firefox 18- */

:-moz-placeholder {
	color: darkgrey;
}

#settings {
	width: 100%;
}

#toggle-element, #toggle {
	display: inline-block;
	vertical-align: center;
	margin: auto;
	width: 80px;
	padding: 10px;
}

#email-toggle, #public-toggle {
	width: 100%;
	height: 6em;
	padding: 10px;
}

#send-email, #set-profile {
	padding: 10px 10px 10px 0;
	margin-left: 0;
}

.on-switch {
	background: #7477bf;
}

.toggle-dot {
	background: white;
	z-index: 1;
}

#email-toggle a, #public-toggle a {
	background: white;
}

#timezone {
	width: 95%;
	margin: 10px 2.5%;
	padding: 2px;
	border-radius: 6px;
	height: 2em;
	border: 1px solid gray;
}

button {
	border-radius: 4px;
	height: 2.5em;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4d4c72;
	border: none;
	box-shadow: 0 2px #999;
}

button:hover {
	background-color: #4d4c72;
}

button:active {
	background-color: #4d4c72;
	box-shadow: 0 3px #666;
	transform: translateY(3px);
}

#send-button {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	position: relative;
	bottom: 0;
}

#send-button, #save-button {
	background: #7377bf;
	color: white;
}

#settings-buttons {
	position: relative;
	bottom: 0;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 95%;
	align-content: center;
	display: flex;
}

#save-button, #cancel-button {
	width: 45%;
	margin: auto;
}

#cancel-button {
	background: #b2b2b2;
	color: white;
}

/* Media Queries */

@media screen and (min-width: 700px) and (max-width: 840px) {
	#search-banner {
		width: 75%;
	}
	#search-bar {
		width: 60%;
	}
}

@media screen and (min-width: 1080px) {
	#toggle-element, #toggle {
		margin-right: 20%;
	}
}

@media screen and (min-width: 700px) {
	header {
		justify-content: space-between;
		padding-right: 10px;
		height: 60px;
		position: fixed;
		width: 100%;
		top: 0;
		right: 0;
	}
	header ul {
		flex-direction: row;
		justify-content: space-between;
		padding-right: 10px;
		padding-left: 10px;
	}
	header li {
		padding-right: 5px;
		padding-left: 5px;
	}
	#app-name {
		margin-right: auto;
		flex: auto;
	}
	#divider {
		display: block;
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		padding-bottom: .25em;
	}
	.user-pics {
		height: 40px;
		border-radius: 40px;
	}
	nav {
		width: 80px;
		height: 100%;
		top: 60px;
		bottom: 0;
		position: fixed;
		height: 100%;
	}
	nav ul {
		justify-content: flex-start;
		flex-direction: row;
		margin-top: 20px;
		padding: 0;
	}
	nav li {
		padding-top: 20px;
		padding-bottom: 20px;
		margin: auto;
	}
	nav li img {
		height: 35px;
		padding-left: 15px;
	}
	#profile-name {
		display: block;
	}
	#notifications {
		top: 60px;
		width: 250px;
		height: auto;
		background: white;
		border: 1px solid grey;
		z-index: 1;
		color: grey;
		font-size: .8em;
		visibility: hidden;
	}
	#notifications:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		color: transparent;
		border: 10px solid #CCC;
		border-color: transparent transparent #FFF;
		margin-top: -20px;
		margin-left: 15px;
	}
	main {
		margin-top: 60px;
		padding: 0 0 0 80px;
		width: calc(100%-80px);
	}
	#dash-and-search {
		position: relative;
		margin-top: 0;
		margin-right: 0;
		width: 100%;
	}
	#dash-title {
		display: block;
		padding: 20px;
	}
	#search-banner {
		width: 85%;
		background: #fbfbfb;
		padding: 10px;
		height: 60px;
		border: 1px solid lightgray;
		border-right: none;
		position: absolute;
		right: 0;
		top: 0;
	}
	#search-bar {
		height: 2em;
		width: 40%;
		margin-right: 20px;
		background: white;
		border-radius: 4px;
		position: absolute;
		right: 50px;
	}
	#charts {
		width: 100%;
		float: left;
	}
	#traffic {
		width: 100%;
		position: relative;
	}
	#traffic-chart-buttons {
		height: 2em;
		justify-content: flex-end;
		position: absolute;
		right: 0;
		top: 20px;
		width: 70%;
		margin-right: 5%;
		margin-bottom: 20px;
	}
	#hourly-traffic, #daily-traffic-button, #weekly-traffic, #monthly-traffic {
		width: 100px;
		height: 2em;
		line-height: 2em;
		float: right;
		border-radius: 20px;
		margin-left: 10px;
		font-weight: 600;
	}
	#daily-traffic {
		float: left;
		width: 50%;
		border-left: none;
	}
	#mobile-users {
		width: 50%;
		float: right;
		border-left: 1px solid darkgrey;
	}
	#side-by-side-charts {
		border-bottom: none;
	}
	#social-stats {
		width: 100%;
		padding: 10px;
		float: left;
	}
	#social-stats ul {
		width: 100%;
	}
	#social-stats li {
		flex-direction: row;
		list-style-position: inside;
		padding: 10px;
		margin: 10px;
		height: 80px;
		min-width: 200px;
		max-width: 200px;
	}
	.social-number {
		font-size: 2em;
	}
	.social-name {
		color: purple;
		font-weight: 600;
		font-size: .8em;
	}
	#new-members, #recent-activity, #message-user, #settings {
		height: auto;
		width: 50%;
		float: left;
		border: 1px solid lightgrey;
		margin-bottom: 0;
		padding: 10px;
	}
	#new-members img, #recent-activity img {
		float: left;
		margin-right: 10px;
	}
	.new-member-info {
		height: auto;
		padding: 10px;
		font-size: .9em;
	}
	.join-dates {
		float: right;
	}
	#recent-activity {
		float: left;
	}
	.activity-info {
		height: auto;
		padding: 10px;
		font-size: .9em;
	}
	.activity-icon {
		right: 10px;
		top: 30%;
	}
	#email-toggle, #public-toggle {
		position: relative;
		height: 60px;
	}
	#send-email, #set-profile {
		padding: 10px;
		text-align: center;
		margin: auto;
		width: auto;
	}
	#toggle-element, #toggle {
		margin-right: 10%;
		float: right;
	}
	#send-email, #set-profile {
		width: 60%;
		float: left;
		text-align: left;
		vertical-align: baseline;
	}
}