@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

p {
    line-height: 25px;
    font-size: 14px;
}

.form__label--hidden {
    visibility: hidden;
}

[class^="btn--"] {
    width: 100%;
    padding: 0.75em 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25em;
}

.grid__col--1.theme__colors,
.grid__col--2.theme__colors,
.grid__col--3.theme__colors,
.grid__col--4.theme__colors,
.grid__col--5.theme__colors,
.grid__col--6.theme__colors,
.grid__col--7.theme__colors,
.grid__col--8.theme__colors,
.grid__col--9.theme__colors,
.grid__col--10.theme__colors,
.grid__col--11.theme__colors,
.grid__col--12.theme__colors {
    padding: 0.95em 0 0.95em 0.9375em;
    font-family: "Lato", sans-serif;
    border: none;
    border-radius: 0.3125em;
    color: #808080;
    font-weight: 700;
}

.nav {
    text-align: center;
}

.nav__item a {
    text-decoration: none;
}

.container,
.card p,
.img--logo,
.img--avatar {
    margin: 0 auto;
}

.card p {
    padding: 0.9375em;
}

.nav {
    padding: 0 0 4.375em;
    margin: 0;
}
@media (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin: 4.0625em 0 0 12.5em;
    }
}
.nav__item {
    border-radius: 5px;
    padding: 0.75em 0.625em;
}
.nav__item a {
    color: black;
}
.nav__item:first-child {
    background-color: #28dcb8;
}
.nav__item:first-child a {
    color: #fff;
}

.container {
    font-family: "Lato", sans-serif;
    width: 85%;
}

.headline--primary {
    color: #28dcb8;
    font-weight: 900;
    width: 75%;
    margin-top: 0;
    margin-bottom: 0.9375em;
    padding-left: 0.9375em;
}
.headline--secondary {
    font-size: 1.25em;
    font-weight: 300;
    padding-bottom: 1em;
    margin-bottom: 0;
    color: #808080;
}
@media (min-width: 768px) {
    .headline--secondary {
        margin-top: 3.125em;
    }
}

.card p {
    font-size: 1.125em;
    color: #808080;
}

.link {
    color: #56def5;
    font-weight: 900;
    text-decoration: none;
}

.blockquote {
    border-left: 0.375em solid #28dcb8;
    border-top-left-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    padding-left: 0.9375em;
    margin: 0 0.9375em 2.5em;
    font-style: italic;
    font-size: 1.25em;
    color: #808080;
}

.img--logo {
    display: block;
    padding: 2.5em 0;
}
.img--frame {
    width: 100%;
    padding: 0.9375em;
    border: solid 1px #d9d9d9;
}
.img--avatar {
    display: block;
    padding: 1.5625em 0;
}

.form__input {
    width: 85%;
    color: #808080;
    font-size: 1.0625em;
    font-weight: 700;
    padding: 0.625em;
    margin: 0 1.25em;
    border: none;
    border-bottom: 6px solid #28dcb8;
}
.form__input:hover {
    background-color: #28dcb8;
}

.btn--default {
    margin-top: 1.875em;
}
.btn--success.theme__colors {
    background: #50c878;
}
.btn--error.theme__colors {
    background: #da5652;
}
.btn--warning.theme__colors {
    background: #f4621a;
}
.btn--info.theme__colors {
    background: #8451a9;
}
.btn--default.theme__colors {
    background: #3ddbdb;
}

.grid__col--1.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--1.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--1.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--1.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--2.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--2.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--2.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--2.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--3.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--3.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--3.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--3.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--4.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--4.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--4.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--4.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--5.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--5.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--5.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--5.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--6.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--6.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--6.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--6.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--7.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--7.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--7.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--7.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--8.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--8.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--8.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--8.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--9.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--9.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--9.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--9.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--10.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--10.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--10.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--10.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--11.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--11.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--11.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--11.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

.grid__col--12.theme__colors {
    margin: 0 0.3125em 3.125em;
}
.grid__col--12.theme__colors:last-of-type {
    margin-bottom: 3.125em;
}
@media (min-width: 1px) and (max-width: 768px) {
    .grid__col--12.theme__colors {
        margin-bottom: 0.3125em;
    }
    .grid__col--12.theme__colors:last-child {
        margin-bottom: 2.5em;
    }
}

@media (min-width: 768px) {
    .grid__col--1 {
        width: 6.5%;
    }

    .grid__col--2 {
        width: 15%;
    }

    .grid__col--3 {
        width: 23.5%;
    }

    .grid__col--4 {
        width: 32%;
    }

    .grid__col--5 {
        width: 40.5%;
    }

    .grid__col--6 {
        width: 49%;
    }

    .grid__col--7 {
        width: 57.5%;
    }

    .grid__col--8 {
        width: 66%;
    }

    .grid__col--9 {
        width: 74.5%;
    }

    .grid__col--10 {
        width: 83%;
    }

    .grid__col--11 {
        width: 91.5%;
    }

    .grid__col--12 {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .grid__row {
        display: flex;
        justify-content: space-between;
    }
    .grid__row .centered {
        display: block;
        margin: auto;
    }
}
.grid__col--1.theme__colors {
    background-color: #50c878;
}
.grid__col--2.theme__colors {
    background-color: #28dcb8;
}
.grid__col--3.theme__colors {
    background-color: #d3a2f6;
}
.grid__col--4.theme__colors {
    background-color: #56def5;
}
.grid__col--5.theme__colors {
    background-color: #51ba4f;
}
.grid__col--6.theme__colors {
    background-color: #146fa3;
}
.grid__col--7.theme__colors {
    background-color: #df6f6d;
}
.grid__col--8.theme__colors {
    background-color: #e59061;
}
.grid__col--9.theme__colors {
    background-color: #f4621a;
}
.grid__col--10.theme__colors {
    background-color: #da5652;
}
.grid__col--11.theme__colors {
    background-color: #8451a9;
}
.grid__col--12.theme__colors {
    background-color: #8ff0cb;
}

@media (min-width: 768px) {
    .grid__col--12 {
        display: flex;
    }
    .grid__col--12 .theme__colors {
        margin: 1.875em 1em;
    }
}

/*# sourceMappingURL=styles.css.map */
