* { 
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

/* Body */
body {
    align-content: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Button */

button { 
    border: solid 2.25px #dddddd;
    border-radius: 5px;
    padding: 10px;
    width: 275px;
}

/* Button - Close */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* Directory */

.directory {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
    margin: 25px auto;
    max-width: 1400px;
}

/* Grid */

.employee-directory ul li {
    background-color: #fff;
    border: solid 2.25px #dddddd;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* Image Thumbnail */

.employee-directory ul {
    list-style: none;
}

.employee-directory ul li a {
    align-self: flex-start;
    display: block;
    margin-bottom: 7px;
    margin-right: 10px auto;
    padding: 15px;
    padding-right: 20px;
}

.employee-directory ul li p {
    text-align: left;
}

.employee-directory ul li:hover {
    border-radius: 50
}

/* Input */ 

input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    width: 275px;
}

/* Line */

hr {
    color: #dddddd;
}

/* Modal Overlay */

.modal {
    /*background-color: rgb(0, 0, 0);*/
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 15px;
    height: auto;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 425px;
    z-index: 2;
}

.modal-content img {
    border-radius: 50%;
    justify-content: center;
}

/* Search */ 

.employee-search {
    float: right;
    margin: 45px;
    text-align: center;
}

/* Text Decoration */

h1 {
    display: inline-block;
    font-size: 24px;
    margin: 45px;
    text-align: center;
}

strong {
    font-size: 20px;
}