/* Body */
body {
    font-family: "Source Sans Pro", sans-serif;
}

/* Navbar */
.bg-light {
    background-color: #f2f2f2 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: green;
    font-weight: normal;
}

.navbar-brand {
    font-weight: normal;
}

/* Jumbotron */
.jumbotron {
    border-radius: 0;
    margin: 3rem 0 2rem 0;
    background-image: url("../images/trees.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .col-lg-6.col-md-6.col-sm-12 {
    padding: 0;
}

/* Section */
.section-title {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.title-section {
    margin-bottom: 45px;
}

/* Project Title */
.project-title {
    font-size: 20px;
    font-weight: 700;
}

/* Card */
.card {
    border-radius: 0;
    border: 0.2rem solid rgba(0, 0, 0, 0.125);
}

.card .btn {
    border-radius: 0;
}

.card-footer {
    border-top: none;
    background-color: #ffffff;
}

/* Button */
.btn.btn-block.btn-primary {
    background-color: #005c99;
    color: #ffffff;
}

.btn.btn-block.btn-primary:hover {
    background-color: #00264d;
}

.btn.btn-block.btn-dark:hover {
    background-color: #4d4d4d;
}

/* Text-Overlay */
.text-overlay {
    background-color: #000000;
    color: #ffffff;
    border: 0.15rem solid #ffffff;
    border-radius: 0;
    opacity: 0.8;
    padding: 3rem;
}

/* Badge */
.badge-success {
    background-color: #004d00;
    color: #ffffff;
    padding: 0.4rem;
}

/* Footer */
.footer {
    background-color: #d9d9d9;
    font-weight: bold;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

/* Modal */
.modal-dialog {
    height: 100vh;
    display: flex;
    align-items: center;
}

.modal-title {
    font-weight: bold;
}

/* Links */
a {
    color: #005c99;
}

/* Col */
.col-sm-12.col-md-6.col-lg-4 {
    margin-bottom: 1.4rem;
}

.col-lg-6.col-md-12.col-sm-12.overlay-column {
    padding: 0;
}
