/* Apply to entire page */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* BUTTONS */


/* SECTIONS */

.header {
    background-color: #006699;
    color: #fff;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 30px;
    padding: 5%;
    text-align: center;
}

.top {
    margin-bottom: 30px;
    text-align: center;
}


/* TYPOGRAPHY */

h1 {
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: #364775;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
}

p {
    color: #565557;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5;
    text-align: center;
}

label {
    color: #565557;
    font-size: 1em;
    line-height: 2.5;
    cursor: pointer;
    margin-bottom: 0;
}

label[for="ref_source"] {
    margin-bottom: 20px;
}

label[for="other_topics"] {
    margin-top: 40px;
    margin-bottom: 15px;
}

.newsletter_form {
    margin-bottom: -10px;
    padding-bottom: 0;
}

.instructions {
    display: inline-block;
    line-height: 1.5;
    margin: 30px 0 5px;
}

footer {
    padding-bottom: 100px;
    font-size: .8em;
}

hr {
    border-top: 5px solid #006699;
}


/* FORM */

fieldset {
    border: 0;
    margin: 0 auto;
    padding: 0;
}

legend {
    font-weight: bold;
    color: #006699;
    text-align: left;
    font-size: 1em;
    line-height: 2;
    padding: .5em 0;
}

input,
select,
textarea {
    font-size: 18px;
    /*background-color: #eeeff1;*/
    border: 3px solid #eeeff1;
    border-radius: 0;
    padding: 20px;
    transition: all .5s ease-in-out;
    width: 100%;
}

.dropdown {
    color: #767578;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    /*
    -webkit-appearance: none;
    -moz-appearance: none; */
    padding: 20px;
}


/*
::-webkit-input-placeholder {
    color: #364775;
    text-align: right;
    padding-right: 5px;
}*/


/*
::moz-placeholder {
    text-align: right;
    font-style: italic;
    padding: right;
}
*/


/*
::-ms-input-placeholder {
    text-align: left;
    font-style: italic;
    padding-right: 5px;
}*/


/*
textarea::-webkit-input-placeholder {
    text-align: left;
}*/


/*
textarea::-moz-placeholder {
    text-align: left;
}
*/


/*
textarea::-ms-input-placeholder {
    text-align: left;
    ;
}
*/

.row:last-child {
    margin-top: 20px;
}

input[id="zipcode"] {
    display: block;
    margin-bottom: 2.5em;
    width: 50%;
}

textarea {
    margin: .5em 0 2em;
}

button {
    background-color: #006699;
    border-radius: 0;
    border: #4dbbb5;
    color: #FFF;
    font-size: 18px;
    width: 100%;
    padding: 20px;
    margin-bottom: 1em;
}


/* FOCUS STATES */

input:focus,
textarea:focus,
select:focus {
    outline: 0;
    border: 3px solid #4a597d;
    background-color: #cdd9e8;
    /*-webkit-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}

textarea:focus {
    margin-bottom: 2em;
}


/* CUSTOM CHECKBOXES */

input[type="checkbox"],
input[type="radio"] {
    display: none;
}


/* CHECKED STATE */

.checkbox {
    display: inline-block;
    cursor: pointer;
}

.checkbox:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: #eeeff1;
    color: #F3F3F3;
    border-radius: 5px;
    margin: 0 20px 2px 0;
}

input[type=checkbox]:checked+.checkbox:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    border: 2px solid #364775;
    border-radius: 5px;
    color: #364775;
    text-align: center;
    line-height: 1.3;
    font-size: .8em;
    width: 18px;
    height: 18px;
    margin-right: 18px;
}


/* RADIO UNCHECKED STATE */

[type="radio"]+span:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #eeeff1;
    box-shadow: 0 0 0 2px #eeeff1;
    margin: 0 20px 4px 0;
    /*-webkit-transition: box-shadow 0.5s ease, background-color 0.3s ease;*/
    transition: box-shadow 0.5s ease, background-color 0.3s ease;
    cursor: pointer;
}


/* RADIO CHECKED STATE */

[type="radio"]:checked+span:before {
    border: 4px solid white;
    background: #364775;
    box-shadow: 0 0 0 2px #364775;
    width: 10px;
    height: 10px;
    margin: 0 20px 0 -2px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 380px) {
    .container {
        border-radius: 10px;
        margin: 5% 15px;
    }
}

@media screen and (min-width: 760px) {
    .header {
        padding: 30px;
    }
    .container {
        max-width: 720px;
        margin: 5% auto;
    }
    h1 {
        margin: 0 auto;
        font-size: 1em;
    }
    h2 {
        margin-bottom: 30px;
    }
    p {
        font-size: 1em;
        margin-top: 1em;
    }
    legend {
        font-size: 1em;
        line-height: 2;
        margin-bottom: 25px;
    }
    label {
        font-size: 1em;
        line-height: 3;
    }
    .checkbox {
        line-height: 2.5;
    }
    .row label {
        float: left;
        width: 25%;
    }
    .row input,
    .row select {
        width: 75%;
        padding: 15px 0 50px;
        font-size: 18px;
        padding: 1em;
    }
    .row:last-child {
        margin-top: 0;
        padding: 15px 0 50px;
    }
    input[id="zipcode"] {
        width: 25%;
        float: left;
    }
    .dropdown {
        font-size: 1em;
    }
    .instructions {
        margin: 25px 0 5px;
    }
    button {
        /*-webkit-transition: all .3s ease-in-out;*/
        transition: all .3s ease-in-out;
    }
    button:hover {
        background-color: #E39620;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.3em;
    }
    .instructions {
        margin: 35px 0 5px;
    }
    .news-col1 {
        float: left;
        clear: both;
    }
    .news-col2 {
        float: right;
        margin-right: -85px;
    }
    label[for="ref_source"] {
        margin-top: 19px;
    }
    select[id="ref_source"] {
        width: 80%;
    }
    .other-topics {
        clear: both;
    }
    button {
        display: block;
        width: 340px;
        margin: 0 auto 2em;
    }
}